.about-us {
    padding: 60px 20px;
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
}

.about-us-content {
    display: flex;
    flex-direction: row-reverse; /* Reverse the order of flex items */
    justify-content: space-between;
}

.about-us-text {
    flex: 1;
    padding-left: 20px; /* Add spacing between text and image */
}

.about-us-image {
    flex: 1;
}

.about-us-image img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Add rounded corners to the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.about-us h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.about-us p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff; /* Coral color */
    color: #000000; /* White text color */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ffffffb4; /* Darker coral color on hover */
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .about-us-content {
        flex-direction: column; /* Change to a column layout for smaller screens */
    }

    .about-us-text,
    .about-us-image {
        flex: none; /* Reset flex basis to auto */
        width: 100%; /* Set width to full for smaller screens */
        padding: 0; /* Remove padding */
        margin-bottom: 20px; /* Add margin between text and image */
    }

    .about-us-text {
        order: 2; /* Change order of text to appear after image */
    }

    .about-us-image img {
        border-radius: 0; /* Remove border radius for images on smaller screens */
    }
}
